In [36]:
import pandas as pd
import matplotlib.pyplot as plt 
import matplotlib.cm as cm
import numpy as np
from tqdm import tqdm_notebook as tqdm
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [28]:
df = pd.read_csv('formatted_data')

In [29]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [30]:
df.head()

   emotion                                    pixel_formatted
0        0  [70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...
1        0  [151, 150, 147, 155, 148, 133, 111, 140, 170, ...
2        2  [231, 212, 156, 164, 174, 138, 161, 173, 182, ...
3        4  [24, 32, 36, 30, 32, 23, 19, 20, 30, 41, 21, 2...
4        6  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 15, 23...

## Re-fromatting the pixel data ##

##### Using a for loop to do it #####
This is markdown

In [31]:
df.head()

   emotion                                    pixel_formatted
0        0  [70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...
1        0  [151, 150, 147, 155, 148, 133, 111, 140, 170, ...
2        2  [231, 212, 156, 164, 174, 138, 161, 173, 182, ...
3        4  [24, 32, 36, 30, 32, 23, 19, 20, 30, 41, 21, 2...
4        6  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 15, 23...

In [40]:
le = LabelEncoder()
X_train_le = le.fit_transform(df['emotion'])
ohe = OneHotEncoder(sparse=False)
X_train_le = ohe.fit_transform(X_train_le.reshape(-1,1))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [41]:
X_train_le

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [6]:
map = {0:'Angry',1:'Disgust',2:'Fear',3:'Happy',4:'Sad',5:'Surprise',6:'Neutral'}

In [7]:
df['emotion']=df.emotion.map(map)

In [8]:
df.head()

   emotion                                    pixel_formatted
0    Angry  [70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...
1    Angry  [151, 150, 147, 155, 148, 133, 111, 140, 170, ...
2     Fear  [231, 212, 156, 164, 174, 138, 161, 173, 182, ...
3      Sad  [24, 32, 36, 30, 32, 23, 19, 20, 30, 41, 21, 2...
4  Neutral  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 15, 23...

In [9]:
dummies = pd.get_dummies(df.emotion).iloc[:,1:]

In [12]:
dummies.head()

   Disgust  Fear  Happy  Neutral  Sad  Surprise
0        0     0      0        0    0         0
1        0     0      0        0    0         0
2        0     1      0        0    0         0
3        0     0      0        0    1         0
4        0     0      0        1    0         0

In [19]:
df.head()

   emotion                                    pixel_formatted
0    Angry  [70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...
1    Angry  [151, 150, 147, 155, 148, 133, 111, 140, 170, ...
2     Fear  [231, 212, 156, 164, 174, 138, 161, 173, 182, ...
3      Sad  [24, 32, 36, 30, 32, 23, 19, 20, 30, 41, 21, 2...
4  Neutral  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 15, 23...

In [14]:
data = pd.concat([df, dummies], axis=1)

In [16]:
data.drop(['emotion'], axis=1, inplace = True)

In [17]:
data.head()

,pixel_formatted,Disgust,Fear,Happy,Neutral,Sad,Surprise
0,"[70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...",0,0,0,0,0,0
1,"[151, 150, 147, 155, 148, 133, 111, 140, 170, ...",0,0,0,0,0,0
2,"[231, 212, 156, 164, 174, 138, 161, 173, 182, ...",0,1,0,0,0,0
3,"[24, 32, 36, 30, 32, 23, 19, 20, 30, 41, 21, 2...",0,0,0,0,1,0
4,"[4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 15, 23...",0,0,0,1,0,0

In [18]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(data['pixel_formatted'].tolist(), X_train_le, test_size=0.33, random_state=42)

In [48]:
from sklearn.svm import SVC
clf = SVC(gamma='auto', verbose=1)
clf.fit(X_train, y_train)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'